.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-rnter,
.fade-leave-to {
  opacity: 0;
}
.slideInLeft-enter-active,
.slideInLeft-leave-active {
  transition: opacity 0.5s, transForm 0.5s;
}
.slideInLeft-enter,
.slideInLeft-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
.slideInLeft-enter-to,
.slideInLeft-leave {
  transform: translateX(0);
}
