<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>サンプル</title>

    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

    <div id="app">
        <div class="list">
            <div class="item" v-for="product in products">
                <figure class="image">
                    <template v-if="product.isSale">
                        <div class="status">SALE</div>
                    </template>
                    <img v-bind:src="product.image" alt="">
                    <figcaption>{{ product.name }}</figcaption>
                </figure>

                <div class="detail">
                    <div class="price"><span>{{ product.price }}</span>円（税込）</div>
                    <template v-if="product.delv == 0">
                        <div class="shipping-fee none">送料無料</div>
                    </template>
                    <template v-else>
                        <div class="shipping-fee">+送料{{ product.delv }}円</div>
                    </template>
                </div>
            </div>
        </div>
    </div>

    <script src="https://jp.vuejs.org/js/vue.js"></script>
    <script src="main.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',

                //list3-3-3

                count: 0,
                showSaleItem: false,
                showDelvFree: false,
                sortOrder: 1,
                products: [
                    { name: 'Michael<br>スマホケース', price: 1580, image: 'images/01.jpg', delv: 0, isSale: true },
                    { name: 'Raphael<br>スマホケース', price: 1580, image: 'images/02.jpg', delv: 0, isSale: true },
                    { name: 'Gabriel<br>スマホケース', price: 1580, image: 'images/03.jpg', delv: 0, isSale: true },
                    { name: 'Uriel<br>スマホケース', price: 980, image: 'images/04.pg', delv: 0, isSale: true },
                    { name: 'Ariel<br>スマホケース', price: 980, image: 'images/05.jpg', delv: 0, isSale: false },
                    { name: 'Azrael<br>スマホケース', price: 1580, image: 'images/06.jpg', delv: 0, isSale: false },
                ]
            },
            methods: {},
            computed: {},
        });


    </script>

</body>

</html>